* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

.game-bar {
	width: 300px;
	height: 20px;
	margin: auto;
	margin-top: 20px;
}

.game-bar__stars {
	display: flex;
	float: left;
}

.game-bar__moves {
	float: left;
	margin-left: 20px;
}

.moves__count {
	float: left;
	min-width: 25px;
}

.game-bar__restart {
	float: right;
}

.icon-arrows-cw:hover {
	cursor: pointer;
}

.game-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	margin: auto;
	margin-top: 5px;
	padding: 10px;
	background-color: #b0e0e6;
	border-radius: 8px;
	-webkit-box-shadow: 10px 10px 36px 2px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 36px 2px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 36px 2px rgba(0,0,0,0.38);
}

.card {
	width: 21%;
	height: 21%;
	background-color: #0b3047;
	margin: 2%;
	border-radius: 8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
}

.card:hover {
	border: 1px solid #fff;
	cursor: pointer;
}
	


.card__back {
	transform: rotateY(90deg);
	font-size: 46px;
	color: white;
	box-sizing: border-box;
	border-radius: 8px;
	transition: all .2s ease-out;
}



/*
.game-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 30vw;
	height: 30vw;
	margin: auto;

}
*/